<div class="scrollable-area" #scrollableArea (scroll)="onScroll$.emit($event)">
  <div class="runway" [style.height]="runwayHeight + 'px'">
    <div class="view-port" [style.transform]="'translate(0,' + topPosition + 'px)'">
      <ng-container *ngFor="let item of visibleItems">
          <div *ngTemplateOutlet="currentItem; context: { $implicit: item }" #contentItems data-id="{{ item.id }}">
            <ng-content></ng-content>
          </div>
      </ng-container>
    </div>
  </div>
</div>
