<div class="listings" appScrollParasite (reachedBottom)="loadMore()">
  <div *ngFor="let item of listing$ | async">
      <div #contentItem>
        <app-item-view>
          <div appItemViewAuthor>
            <div>{{ item.subreddit }}</div>
            <div>{{ item.author }}</div>
          </div>
          <img appItemViewImage *ngIf="item.previewImageUrl" [src]="item.previewImageUrl" />
          <div appItemViewVotes>{{ item.score | number }} upvotes</div>
          <div appItemViewTitle>{{ item.title }}</div>
          <div appItemViewComments>View all {{ item.numOfcomments }} comments</div>
          <div appItemViewActions>
            <mat-icon>thumb_up</mat-icon>
            <mat-icon>thumb_down</mat-icon>
            <mat-icon>comment</mat-icon>
            <mat-icon (click)="share(item)">share</mat-icon>
          </div>
        </app-item-view>
      </div>
    </div>
</div>
